$articles: white; // Заголовки 
$components: #333742; // Подложки, цвет меню
$accent: #0059FE; // Акцентный цвет
$background: #0F1215; // Цвет фона
$subtitle: #B0B5C0; // Цвет подзаголовков
$inputs: #2A2E37; // Цвет инпута в компонентах
