@import '_colors';
@import '_fonts';

%h1 {
    font-size: 32px;
    font-weight: 700;
    color: $articles;
}

%h2 { 
    font-size: 20px;
    font-weight: 700;
    color: $articles;
}

%s1 {
    font-size: 14px;
    font-weight: 600;
}

%s2 {
    font-size: 14px;
    font-weight: 400;
}